html {
  height: 100%;
  width: 100%;
}

body{
  display: block;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 17px;
  line-height: 1.8;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
}

.navbar{
  position: sticky;
  top: 0;
  display: flex;
  height: 3.75rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 2px 0 #0000001a;
  box-sizing: border-box;
}

.navbar-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.navbar-items{
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.navbar-toggle{
  display: none;
  margin-right: .5rem;
}

.clean-btn{
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  min-width: 0;
  color: #1c1e21;
  text-decoration: none;
  box-sizing: border-box;
}

.navbar-brand:hover{
  color: #007acc;
}

.navbar-logo{
  flex: 0 0 auto;
  height: 2rem;
  margin-right: .5rem;
  box-sizing: border-box;
}

.navbar-logo img{
  display: initial;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.navbar-title{
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.navbar-items-right{
  flex: 0 0 auto;
  justify-content: flex-end;
  box-sizing: border-box;
}

@media(max-width: 996px){
  .navbar-toggle{
    display: inherit;
  }
}
